* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: no-repeat linear-gradient(46deg, #523389, #ba5cfa);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui;
    font-weight: 500;
    overflow: hidden
}

.box {
    min-width: 300px;
    width: 50%;
    height: 130px;
    gap: 10px;

}

.min,
.hor,
.sec {

    padding: 15px;
    background: white;
    height: 100%;
    border-radius: 10px;
    font-size: 2.8em;
    flex: 1
}

.day {
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 30px;
    background: white;
    width: 50%;
    min-width: 300px;
    font-size: 28px;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 55px;
    color: white
}

